body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 100px 0;
}

header {
    background-image: url("images/guanajuato-5838206_1280.jpg") ;

    background-repeat: no-repeat;
    background-size: cover;
  color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}
header h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header a {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
}


main {
    background-color: white;
}

main h2 {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    opacity: 0.3;
    text-transform: uppercase;
    margin: 0;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
}

footer {
color: white;
background-image: url(images/mexico-city-2719368_1280.jpg);
background-repeat: no-repeat;
background-size: cover;

}


footer h3 {

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    font-weight: 400;

  
    opacity: 1;

}

img {
    max-width: 20px;
}
@media (max-width: 960px) {
    header {
        padding: 60px 0px;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }
}